@import "../../node_modules/bulma/sass/utilities/_all.sass";

/** Bulma Layout builder **/
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/grid/columns.sass";

/** Bulma components **/
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/components/card";
@import '../../node_modules/bulma/sass/form/all';
@import '../../node_modules/bulma/sass/elements/button';

/** Bulma layouts **/
@import "../../node_modules/bulma/sass/layout/hero";

@import "../../node_modules/bulma-helper-spacing/spacing";

/** **/
@import '../../node_modules/normalize.css/normalize.css';


$primary: $turquoise;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;


/** Bulma additionnals **/
.navbar {
  &.is-transparent {
    background: transparent;
  }
}

.card-image {
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-color: #eee;
}

.is-uppercase {
  text-transform: uppercase;
}

.has-text-black {
  color: $black;
}

.has-text-grey-dark {
  color: $light;
}

.has-background-darker {
  background: #0a0a0a;
}

/** Compatibility **/

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/** Customize design :) **/

.site-header {
  //border-radius: 0px 0px 60% 60%;
  background-position: center center;
  background-size: cover;
}