.is-uppercase {
  text-transform: uppercase;
}

.has-text-weight-light {
  font-weight: 300 !important;
}

.has-text-weight-bold {
  font-weight: 700 !important;
}

.has-text-justified {
  text-align: justify !important;
}

.has-text-align-center {
  text-align: center;
}

.has-text-centered {
  text-align: center !important;
}
