.is-uppercase {
  text-transform: uppercase;
}

.has-text-weight-light {
  font-weight: 300 !important;;
}

.has-text-weight-bold {
  font-weight: 900 !important;
}

.has-text-justified {
  text-align: justify;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-text-overflowed {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.is-overflowed-3 {
  -webkit-line-clamp: 3; /* number of lines to show */
}

.is-overflowed-1 {
  -webkit-line-clamp: 1; /* number of lines to show */
}

p {
  word-break: break-word;
}
