.single-post {

  .author-image {
    margin-bottom: 1rem;
  }

  .is-single {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 300;
      margin-top: 2rem;
    }

    .post-inner {
      p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }
    }
  }

  #widget > div > * {
    margin-bottom: 3rem;
  }


  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
  }

  .breadcrumb {
    margin-bottom: 1rem;
  }

  .post-metadata {
    margin-top: 5rem;
  }

  @media (min-width: 782px) {
    .section-inner__date > p {
      display: inline-block;
    }
  }

  .title-navigation {
    margin-bottom: 0.5rem;
  }

  .pagination-single .has-text-align-right .excerpt {
    margin-left: auto;
  }

  .pagination-single .excerpt {
    width: 90%;
    margin-top: 1rem;
  }
}
