.single-post {

  .is-single {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 300;
      margin-top: 2rem;
    }

    p {
      font-size: 1.8rem;
    }
  }

  #widget > div > * {
    margin-bottom: 3rem;
  }


  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
  }

  .breadcrumb {
    margin-bottom: 1rem;
  }

  .post-metadata {
    margin-top: 5rem;
    color: $color-grey;
  }
}
