*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $color-darker;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

ul.unstyled {
  list-style: none;
}

b,
strong {
  font-weight: 500;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

figure,
img,
video {
  max-width: 100%;
  height: auto;
}

hr {
  opacity: 0.5;
}

.wp-caption {
  width: auto !important;
}
