
/* Header
   ========================================================================== */

.site-header {
  background-position: top center;
  background-size: cover;
}

.article-header__background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-header {
  margin-bottom: 3rem;
}

/* Footer
   ========================================================================== */

#site-footer {
  .column > div:not(:first-child) {
    margin-top: 3rem;
  }
}


/* Content
   ========================================================================== */

.post-inner {
  p {
    color: $color-darker;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }

  p,
  ul {
    line-height: 2;
  }

  > pre,
  > pre[class*="language-"] {
    margin-bottom: 2rem;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 4rem;
    color: $color-dark;
  }

  table {
    margin-bottom: 2rem;
  }

  color: $color-darker;

  a:visited {
    color: $color-primary;
  }
  a:visited::before {
    background-color: $color-primary;
  }
  a[target=_blank]::before {
    width: 1.8rem;
    height: 1.8rem;
  }
  ul {
    list-style: disc;
    margin-left: 3rem;
  }
}

/* Widgets
   ========================================================================== */

.widget-cta-single {
  .card-title a {
    color: $color-darker;
  }
}

.widget-single {
  @media (max-width: 599px) {
    margin-top: 3rem;
  }
}

.widget_search input[type="submit"] {
  width: 100%;
}


.ads {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.widget-cta-categories {
  li > a {
    font-size: 1.45rem;
  }
}


/* Images
   ========================================================================== */

.icon {
  width: 15px;
  height: 15px;
  opacity: 0.5;

  display: inline-block;
  vertical-align: middle;
}

.wp-caption {
  width: auto !important;
}
