.pagination-single {
  margin-top: 5rem;
}

.pagination-wrapper {
  text-align: center;
}

.page-numbers {
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-numbers.current {
  font-weight: bold;
}

@media (max-width: 599px) {
  .pagination-single-inner > div:nth-child(2) {
    margin-top: 4rem;
  }
}