@import "../../node_modules/bulma/sass/utilities/all.sass";

$color-initial: #fff;
$color-primary: #e9862b;
$color-secondary: #1c3146;
$color-tertiary: #dcdcdc;
$color-quaternary: #fefefe;
$color-quinary: #fff;

@import "../../node_modules/milligram/src/milligram";
@import "milligram/Typography";
@import "milligram/Grid";

$primary: #e9862b;
$secondary: #1c3146;

$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;
$grey: #aeaeae !default;
$light: #dcdcdc !default$dark: #101010 !default;
$white: #fefefe !default;

$radius-large: 6px;

$navbar-item-color: $white;
$navbar-item-hover-color: $secondary;
$navbar-item-active-color: $primary;

/** Bulma components **/
@import "../../node_modules/bulma/sass/elements/tag";
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/components/card";
@import "../../node_modules/bulma/sass/layout/hero";

/** External libs **/
@import '../../node_modules/normalize.css/normalize.css';

/** Custom elements **/
@import 'elements/helpers';
@import 'elements/color';
@import 'elements/sizing';
@import 'elements/typography';

/** Pages **/
@import 'pages/single';

/** Bulma additionnals **/
.navbar {
  &.is-transparent {
    background: transparent;
  }

  .navbar-dropdown {
    a.navbar-item {
      color: $dark;
    }
  }
}

.card {

  width: 100%;

  .card-image {
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-color: #eee;
  }

  .card-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.tags {
  .tag {
    font-size: 1.2rem;
  }
}

/** Compatibility **/

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/** Customize design :) **/

.site-header {
  //border-radius: 0px 0px 60% 60%;
  //background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.filtered-black {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0.8),
          transparent);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

ul.unstyled {
  list-style: none;
}

.has-text-overflowed {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
}

#site-footer {
  a {
    color: $light;
  }

  ul {
    list-style: none;
    padding: 0px;

    &.sub-menu {
      padding-left: 1rem;
    }
  }
}
