@import "../../node_modules/bulma/sass/utilities/all.sass";

$color-initial: #dcdcdd;
$color-primary: #219385;
$color-secondary: #49516f;
$color-tertiary: #c5c3c6;
$color-quaternary: #c5c3c6;
$color-quinary: #c5c3c6;
$color-link: #219385;
$color-dark: #222222;
$color-light: #dcdcdd;
$color-grey: #8d8d8d;

$radius-large: 6px;

/* Milligram import */
//@import "../../node_modules/milligram/src/Color";
@import "../../node_modules/milligram/src/Base";
@import "../../node_modules/milligram/src/Blockquote";
@import "../../node_modules/milligram/src/Button";
@import "../../node_modules/milligram/src/Code";
@import "../../node_modules/milligram/src/Divider";
@import "../../node_modules/milligram/src/Form";
//@import "../../node_modules/milligram/src/Grid";
//@import "../../node_modules/milligram/src/Link";
@import "../../node_modules/milligram/src/List";
//@import "../../node_modules/milligram/src/Spacing";
@import "../../node_modules/milligram/src/Table";
//@import "../../node_modules/milligram/src/Typography";
@import "../../node_modules/milligram/src/Image";
//@import "../../node_modules/milligram/src/Utility";

/* Custom Milligram */
@import "milligram/Typography";
//@import "milligram/Grid";

$primary: $color-primary;
$secondary: $color-secondary;

$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;
$grey: $color-light !default;
$light: $color-light !default$dark: $color-dark !default;
$white: $color-light !default;

$navbar-item-color: $white;
$navbar-item-hover-color: $secondary;
$navbar-item-active-color: $primary;
$navbar-item-img-max-height: 100px;

/** Bulma components **/
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/components/media";

/** External libs **/
@import '../../node_modules/normalize.css/normalize';

/** Custom elements **/
@import 'elements/helpers';
@import 'elements/color';
@import 'elements/typography';

/** Layouts **/
@import 'layouts/columns.scss';

/** Pages **/
@import 'pages/single';
@import "pagelayout";

/** Bulma additionnals **/
@import "bulma/card";
@import "bulma/navbar";
@import "bulma/tags";
@import "bulma/hero";


/** Customize design :) **/

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

ul.unstyled {
  list-style: none;
}

/**
Default style
 */


