/* Primary colors
   ========================================================================== */

.color-primary, .site-footer a:hover {
  color: $color-primary;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: $color-primary;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 0.1rem solid $color-primary;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, textarea:focus, select:focus {
  border-color: $color-primary;
}

.site-footer .svg-icon:hover {
  fill: $color-primary;
}

/* Secondary colors
   ========================================================================== */

.color-secondary, .navbar-item, .navbar-link {
  color: $color-secondary;
}

.card .card-image, .button:focus, .button:hover, button:focus, button:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
  background-color: $color-secondary;
}

hr, td, th, .navbar-link:not(.is-arrowless)::after, blockquote, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select {
  border-color: $color-secondary;
}

/* Footer
   ========================================================================== */

footer {
  background-color: $color-dark;
}

.site-footer .svg-icon {
  fill: $color-light;
}

.site-footer p, .site-footer a, .site-footer li, .site-footer input[type="text"], .site-footer input[type="search"] {
  color: $color-light;
}

.site-footer input[type="text"], .site-footer input[type="search"] {
  border-color: $color-light;
}

/* Header
   ========================================================================== */

a.navbar-item, .navbar-link, .navbar-dropdown .navbar-item, a.navbar-item.is-active, .navbar-link.is-active, .navbar-item, .navbar-link, .navbar-burger {
  color: $color-light;
}

.site-header {
  background-color: $color-secondary;
}

.hero-title, .hero-desc, .hero input, .hashtag, .hashtag a {
  color: $color-primary;
}

.hero input[type="search"] {
  border-color: $color-primary;
}
