.card {

  width: 100%;
  position: relative;

  .card-image {
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-color: #eee;
  }

  .card-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .card-date {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: inline-block;
    background-color: $color-dark;
    color: $color-light;
    padding: 0.2rem 0.5rem;
  }
}
