.media {
  align-items: flex-start;
  display: flex;
  text-align: left;
}

.media-left {
  margin: 0px 1.5rem 0px 0px;
  flex: 0 0 auto;
}

.comment-body {
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

@media (min-width: 782px) {
  .comment-body {
    flex-direction: row;
  }
}

.comment-info {
  margin-bottom: 1rem;
}

.comment-metadata {
  margin-top: 2rem;
}

.depth-2 > *,
.depth-3 > * {
  margin-left: 6rem;
}

.comments {
  margin-top: 4rem;
}

.comments-wrapper {
  .avatar {
    width: 64px;
    height: 64px;
  }
}
