
ul.unstyled {
  list-style: none;
}

b,
strong {
  font-weight: 500;
}

p {
  margin-top: 0;
}

a {
  color: $color-link;

  &:hover {
    text-decoration: underline;
  }
}

figure,
img,
video {
  max-width: 100%;
  height: auto;
}

.wp-caption {
  width: auto !important;
}