.site {
  position: relative;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  background: transparent;

  &.entry-content > * {
    margin-bottom: 0;
  }

  .logo-text {
    &:hover {
      text-decoration: none;
    }

    span {
      font-weight: 900;
    }
  }

  .custom-logo,
  .custom-logo-link {
    padding-left: 0;
  }
}
