
.site-header {
  //border-radius: 0px 0px 60% 60%;
  //background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

#site-footer {
  .column > div:not(:first-child) {
    margin-top: 3rem;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;

  &.sub-menu {
    padding-left: 1rem;
  }
}

pre, code {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

body {
  p {
    margin-bottom: 0.5rem;
  }
}

.is-single, .is-page {
  .entry-content {
    p {
      color: $color-dark;
    }

    a {
      text-decoration: underline;
    }
  }
}
